* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background-color: #f4f6f9;
}

.contenedor {
    display: flex;
    width: 100%;
}

/* BarraLateral */
.BarraLateral {
    width: 250px;
    height: 100vh;
    background-color: #111827;
    color: white;
    position: fixed;
    padding: 30px 20px;
    text-align: center;
}

.contenidoBarraLateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FotoPerfil {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.BarraLateral ul {
    list-style: none;
}

.BarraLateral ul li {
    margin: 20px 0;
}

.BarraLateral ul li a {
    color: #cbd5e1;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transform: scale(1);
    transition: color 0.3s, transform 0.3s;
}

.BarraLateral ul li a.active {
    color: #38bdf8;
    transform: scale(1.5);
}

.BarraLateral ul li a:hover {
    transform: scale(1.5);
}

.pieBarraLateral {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    display: flex;
}

.encabezadoFijo2 {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 1000;
}

.iconoLuna {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.seleccionIdioma2 {
    margin-right: 10px;
    background-color: #1f2937;
    padding: 1px 10px;
    border-radius: 12px;
    font-size: 18px;
    color: #cbd5e1;
    cursor: pointer;
}

/* CONTENIDO */
.contenido {
    margin-left: 250px;
    padding: 40px;
    width: 100%;
}

.seccion {
    min-height: 100vh;
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
}

.seccion h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.seccion h1 {
    font-size: 40px;
}

.seccion  span {
    color: #2563eb;
}

.seccion p {
    font-size: 18px;
    line-height: 1.6;
    color: #4b5563;
    font-family: 'Poppins', sans-serif;
}

.desarrollador {
    font-size: 18px;
    margin-top: 10px;
    background-color: #111827;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.desarrollador span {
    color: #cbd5e1;
    font-family: 'Poppins', sans-serif;
}

.enlaces {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.apartadoDescarga {
    display: grid;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descargar {
    font-size: 18px;
    color: #4b5563;
}

.iconoDescarga {
    margin-top: 10px;
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.iconoDescarga:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.apartadoLinkedin {
    display: grid;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkedin {
    font-size: 18px;
    color: #4b5563;
}

.iconoLinkedin {
    margin-top: 10px;
    width: 30%;
    height: 30%;
    margin-left: 10px;
    cursor: pointer;
}

.iconoLinkedin:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.apartadoGithub {
    display: grid;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.github {
    font-size: 18px;
    color: #4b5563;
}

.iconoGithub {
    margin-top: 10px;
    width: 30%;
    height: 30%;
    margin-left: 10px;
    cursor: pointer;
}

.iconoGithub:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}
